:root {
    --color-titulo: rgb(120, 65, 121);
    --ff-primaria: 'Balsamiq Sans', cursive;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    /*10px = 1rem, para calculo mas facil*/
    font-size: 10px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    line-height: 1.5;
    font-family: var(--ff-primaria);
}

main {
    width: 100%;
    height: 100vh;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0.5em auto;
    padding-bottom: 1em;
}

.titulo-contador {
    font-family: var(--ff-primaria);
    color: var(--color-titulo);
    font-size: 2.5rem;
}

@media screen and (min-width: 43em) {

    /*43em = 688px*/
    .titulo-contador {
        font-size: 3rem;
    }
}

#cuenta {
    font-size: 4rem;
}

@media screen and (min-width: 43em) {
    #cuenta {
        font-size: 4.5rem;
    }
}

.contenedor-btns {
    display: flex;
    width: 90%;
    max-width: 450px;
    height: auto;
    margin: 0.5em auto;
    padding-top: 2em;
    align-items: center;
    justify-content: space-evenly;
}

.btn {
    min-width: 25%;
    width: 25%;
    max-width: 35%;
}